{% extends 'base.html' %}

{% block title%}Twit page{% endblock %}

{% block body %}
    <div class="alert alert-info" role="alert">
        Author: <a href = "{% url 'user' twit.author.login %}">{{twit.author.login}}</a> <br>
        Content: {{twit.content}} 
        {% if twit.image %}
            <br>
            <img src = "/media/{{twit.image}}" style = "height: 100px">
        {% endif %}
    </div>
    <form method = "post"  id = "comment">
        {% csrf_token %}
        <input type="text" id = "comment" name = "comment" class="form-control" placeholder="Add comment">
        <input type = "submit" class = "btn btn-primary" value = "Submit" />
</form>
    {% for comment in comments %}
        <div class="alert alert-secondary" role="alert">
            <a href = "{% url 'user' twit.author.login %}">{{twit.author.login}}</a>: {{comment.content}}<br>
        </div>
    {% endfor %}
{% endblock %}