{% extends 'base.html' %}

{% block title %}Users Page{% endblock %}


{% block body %}
    <div>
        <table class="table">
            <thead class="table-dark">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Login</th>
                <th scope="col">Image</th>
                <th scope="col">View</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{user.login}}</td>
                        {% if user.image %}
                            <td><img src = "/media/{{user.image}}" style = "width:50px; height: 50px"></td>
                        {% else %}
                            <td>???</td>
                        {% endif %}
                        <td><a class = "btn btn-primary" href = "{% url 'user' user.login %}">Open</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}