{% extends 'base.html' %}

{% block title%}User page{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                {% for twit in twits %}
                    <div class="alert alert-primary" role="alert">
                        {{twit.content}}
                    </div>
                {% empty %}
                    <div class="alert alert-danger" role="alert">
                        No twits yet
                    </div>
                {% endfor %}
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                <img src="/media/{{user.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{user.login}}</h5>
                        {% if button %}
                            <form method = "post">{% csrf_token %}<input type = "submit" name = "submit" value = "Follow" class = "btn btn-light"></form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}